<div class="container" id="login" style="display:none;">
	<div id="close">
		<span>Sign In</span>
		<button class="btn btn-outline-secondary btn-sm" onclick="closeLog();"> X </button>
	</div>
	<div id="loginAlert" class="alert" >
	</div>
	<form id="loginF" method="POST" action="/login">

		<br>
		<input type="text" name="uname" placeholder="Username..." id="loguname"/><br>
		<input type="password" name="password" placeholder="Password..." id="logpass" /><br>
		<button id="login" class="btn btn-primary"  type="submit">LOGIN</button><br>
		<button id="signup" class="btn btn-success" onclick="signMe();">SIGN UP</button>
	</form>
</div>
