<div class="container" id="signup-s">
	<div id="close">
		<button class="btn btn-outline-secondary btn-sm" onclick="closeLog();"> X </button>
	</div>
		
			<h2 style="font-family:Great Vibes;padding-top:5vh;">Thank you successfully registered </h2>
		

</div>