<div id="tables">
<div class="container">
	<table class="table table-dark">
	<tr>
		<th>DevTutorials</th><th>Topics</th><th>Posts</th><th>Latest Post</th>
	</tr>
	<tr>
		 <td>
			 Discussion
		 </td>
		 <td>
			Latest Post
		 </td>
		 <td>
			Time
		 </td>
	</tr>
	<tr>
		 <td>
			 Programming Tutorials
		 </td>
		 		 <td>
			Latest Post
		 </td>
		 <td>
			Time
		 </td>
	</tr>
	<tr>
		 <td>
			 devBuddies
		 </td>
		 		 <td>
			Latest Post
		 </td>
		 <td>
			Time
		 </td>
	</tr>
	</table>
</div>


<div class="card">
	<div class="card-footer dark">
		<h4>DevQuestions</h4>
	</div>
</div>
<div class="container">
	<table class="table table-dark">
	<tr>
		 <td>
			 Discussion
		 </td>
		 <td>
			Latest Post
		 </td>
		 <td>
			Time
		 </td>
	</tr>
	<tr>
		 <td>
			 Programming Tutorials
		 </td>
		 		 <td>
			Latest Post
		 </td>
		 <td>
			Time
		 </td>
	</tr>
	<tr>
		 <td>
			 devBuddies
		 </td>
		 		 <td>
			Latest Post
		 </td>
		 <td>
			Time
		 </td>
	</tr>
	</table>
</div>

<div class="card">
	<div class="card-footer dark">
		<h4>DevCollaboration/DevProjects</h4>
	</div>
</div>
<div class="container">
	<table class="table table-dark">
	<tr>
		 <td>
			 Discussion
		 </td>
		 <td>
			Latest Post
		 </td>
		 <td>
			Time
		 </td>
	</tr>
	<tr>
		 <td>
			 Programming Tutorials
		 </td>
		 		 <td>
			Latest Post
		 </td>
		 <td>
			Time
		 </td>
	</tr>
	<tr>
		 <td>
			 devBuddies
		 </td>
		 		 <td>
			Latest Post
		 </td>
		 <td>
			Time
		 </td>
	</tr>
	</table>
</div>

</div>