<!DOCTYPE html>
<html>
	<head>
		<title>DevIdeas</title>
		<% include partials/libraries %>
	</head>
	<body>
		<div id="body">
		<!- include stuff for ejs ->
		<% include partials/navbar %>
		<div id="forum">
		<br>
			<div class="container">
				<table class="table table-striped" id="tutorials">

				  <thead class="thead-inverse">
					<tr>
					  <th colspan="4">
						DevIdeas
					 </th>
					</tr>
				  </thead>
				  <tbody>

					<tr>
					  <th scope="row">Rules</th>
					  <td>2</td>
					  <td id="latestpost">Last updated</td>

					</tr>
					<tr>
					  <th scope="row">FAQS</th>
					  <td>3</td>
					  <td id="latestpost">Last Updated by rui725</td>

					</tr>
				  </tbody>

				</table>
			</div>
			<!-    ---------------------------- ->

			<div class="container">
				<table class="table table-striped" id="tutorials">

				  <thead class="thead-inverse">
					<tr>
					  <th colspan="2">
						Latest Posts
					 </th>
					 <th colspan="1" id="latestpost">
						<button class="btn btn-primary"><b>+</b></button>
					 </th>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <th scope="row">Programming Tutorials Videos</th>
					  <td>4</td>
					  <td id="latestpost">last updated</td>

					</tr>
					<tr>
					  <th scope="row">Rules</th>
					  <td>2</td>
					  <td id="latestpost">Last updated</td>

					</tr>
					<tr>
					  <th scope="row">FAQS</th>
					  <td>3</td>
					  <td id="latestpost">Last Updated by rui725</td>

					</tr>

					<tr>
					  <th scope="row">Programming Tutorials Videos</th>
					  <td>4</td>
					  <td id="latestpost">last updated</td>

					</tr>
					<tr>
					  <th scope="row">Rules</th>
					  <td>2</td>
					  <td id="latestpost">Last updated</td>

					</tr>
					<tr>
					  <th scope="row">FAQS</th>
					  <td>3</td>
					  <td id="latestpost">Last Updated by rui725</td>

					</tr>
					<tr>
					  <th scope="row">Programming Tutorials Videos</th>
					  <td>4</td>
					  <td id="latestpost">last updated</td>

					</tr>
					<tr>
					  <th scope="row">Rules</th>
					  <td>2</td>
					  <td id="latestpost">Last updated</td>

					</tr>
					<tr>
					  <th scope="row">FAQS</th>
					  <td>3</td>
					  <td id="latestpost">Last Updated by rui725</td>

					</tr>
				  </tbody>

				</table>
			</div>

		</div>
		<% include partials/footer %>
		</div>
	</body>
</html>
